* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #b5e2ec;
}
.wrapper {
  width: 400px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.containercard {
  width: 100%;
  background-color: #4b4a4a;
  padding: 50px 40px;
  box-shadow: 0 20px 65px rgba(57, 160, 179, 0.541);
  position: relative;
  border-radius: 8px;
  text-align: center;
}
.containercard:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 120%;
  background-color: #ffffff;
  z-index: -1;
  top: -10%;
  left: 10%;
}
.containercard p {
  color: #c4f8eb;
  line-height: 2;
  font-size: 18px;
}
.containercard h3 {
  color: #ffffff;
  margin: 20px 0 60px 0;
  font-weight: 600;
  text-transform: capitalize;
}
.containercard button {
  background-color: #ffffff;
  border: none;
  padding: 15px 45px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  color: #52d4c3;
  cursor: pointer;
}
